* {
	margin: 0 auto;
	padding: 0;
}

.container-fluid {
	position: relative;
}

a {
	color: black;
}

header {
	width: 100%;
	/*position: fixed;*/
	background-color:rgba(255,255,255,0.7);
	
}

nav {
	width: 100%;
}
.navheader{
	background: none;
	border: 0;
	margin-bottom: 10px;
}
.container {
	width: 96%;
}
.navbar-header img{
	width: 220px;
	height: 70px;
	margin-left: 6%;
	margin-top: 5px;
}

.left li {
	padding: 3% 5px;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}
.navbar-default .navbar-nav>li>a:hover{
	color:cadetblue;
}
.left li a {

	font-size: 16px;
	font-weight: 400;
	font-family: wst_swed;
}

ul li{
	list-style: none;
}


.login{
	border: 0;
	width: 82px;
	height: 30px;
	margin-top: 12px;
	background-color:#A2CEBF;
	border-radius: 15px;
	font-size: 16px;
	margin-left: 10px;
	letter-spacing: 1.5px;
	color: black;
	
	
}
.login:hover{
	color: white;
	background-color:#A2CEBF;
}
.customerPic{
	display: none;
}
.banner{
	width: 100%;
	/*height: 300px;*/
	/*border: 1px solid red;*/
	position: relative;
	opacity: 0.8;
}
.banner img{
	width: 100%;
	height: 470px;
}
.banner h1{
	position: absolute;
	top: 40%;
	left: 43%;
	color: white;
	font-family: "微软雅黑";
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;

}
.main{
	/*height: 400px;*/
}
section{
	width: 100%;
	/*height: 300px;*/
	/*border: 1px solid black;*/
	padding: 4%;
}
section h4{
	font-size: 26px;
	text-align: center;
	/*font-weight: 400;*/
	letter-spacing: 2px;
	font-family: inherit;
}
section p{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: grey;
	letter-spacing: 2px;
}
.row{
	/*padding: 0;*/
	/*border: 1px solid black;*/
	margin-top: 10px;
	padding: 0;
}
.model1{
	/*border: 1px solid red;*/
	/*padding: 0 1%;*/
	padding: 0;
	margin-top: 28px;
	
}
.thpic{
	width: 90%;
	padding: 4% 5%;
	
}

.thpic h4{
	text-align: left;
	font-size: 16px;
}
.price{
	/*float: right;*/
	font-size: 18px;
	color: red;
	/*margin-bottom: 20px;*/
}
.pricenum{
	float: right;
}
.thpic img{
	width: 100%;
	height: 180px;
}
.chakan{
	text-align: center;
	margin-top: 20px;
}
.chakan button{
	width: 90px;
	background-color: #f5f5f5;
	/*border-color: #dcdcdc;*/
	color: #616161;
	padding: 10px;
	border-color: gainsboro;
	/*letter-spacing: 2px;*/
}
.chakan button:hover{
	background: lightgray;
	border: 1px solid gainsboro;
}
.duorou{
	background-color: #F2F2F2;
}
.thpic2{
	background-color: #F2F2F2;
	/*border:  0;*/
}
.thpic2{
	width: 90%;
	/*padding: 3% 2%;*/
	padding: 0;
	
}
.thpic2 img{
	width: 100%;
	height: 180px;
}
.thpic2 h4{
	text-align: center;
	font-size: 18px;
}
.thpic2 p{
	text-align: center;
	font-size: 18px;
	color: #C12E2A;
}
.thpic3{
	width: 85%;
	/*padding: 3% 2%;*/
	padding: 0;
	position: relative;
	
}
.thpic3 img{
	width: 100%;
	height: 250px;
}
.thpic3 h4{
	text-align: center;
	font-size: 18px;
}
.thpic3 p{
	text-align: center;
	font-size: 18px;
	color: #C12E2A;
}
.mb{
	position: absolute;
	width: 100%;
	height: 250px;
	top: 0;
	left: 0;
	background-color: rgba(1,1,0,0.1);
	display: none;
}
.mb button{
	position: absolute;
	top: 47%;
	left: 32%;
	background-color:white;
	/*border-color: #dcdcdc;*/
	color:black;
	font-size: 14px;
	/*padding: 12px;*/
	border-color: gainsboro;
	border-radius: 15px;
	/*height: 35px;*/
	/*letter-spacing: 2px;*/
}
.mb button:hover{
	background-color:white;
	color:gray;
	border: 1px solid gainsboro;
}
.hover{
	position: relative;
	margin-top: -10px;
	/*padding-left: 3%;*/
	box-shadow: 0 5px lightgrey;
	transition: all 0.3s;
	cursor: pointer;
}
.hover1{
	
	margin-top: 0px;
	/*padding-left: 3%;*/
	/*box-shadow: 0 5px lightgrey;*/
	transition: all 0.3s;

}
.mbmodel{
	position: absolute;
	width: 90%;
	height: 180px;
	top: 1px;
	left: 15px;
	background-color: rgba(1,1,0,0.4);
	display: none;
}
.mbmodel button{
	position: absolute;
	top: 47%;
	left: 36%;
	color:white;
	border: 0;
	padding: 5px;
	background-color:chocolate;
	font-size: 14px;

}
.mbmodel button:hover{
	background: chocolate;
	color: black;
}


footer {
	width: 100%;
	/*height: 400px;*/
	background-color: #222222;
	color: ghostwhite;
}
.row{
	/*padding: 3%;*/
}
.lianxi,.lianjie,.sousuo{
	padding: 3% 5%;
	padding-bottom: 6% !important;
}
.lianxi h5,.lianjie h5,.sousuo h5{
	margin-top: 18px;
	font-size: 15px;
	padding: 5px 0;
}
.sousuo input{
	width: 75%;
	height: 33px;
	background-color: #505050;
	border: 0;
}
.searchinput{
	margin-left: 0;
	width: 80%;
	/*border: 1px solid red;*/
	background-color:cadetblue;
	height: 33px;
	margin-top: 15px;
}
.searchinput img{
	margin-left: 10px;
	width: 28px;
	height: 28px;
}
.topreturn{
	position: fixed;
	right: 2%;
	bottom: 30px;
	display: none;
}
.row{
	margin: 0;
}
